body {
  background-color: #f5f9fd;
  color: #4e4e4e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  text-transform: uppercase;
  font-family: "roboto", sans-serif;
  font-weight: bold 700;
}
.list-inline {
  font-family: "roboto", sans-serif;
}
a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}
.color-d {
  color: #f5f5f5;
}
.color-text-a {
  color: black;
}
.om-tekst {
  color: #4e4e4e;
  font-family: "roboto", sans-serif;
  line-height: 25px;
}
.box-shadow-a, .button:hover {
  box-shadow: 0 0 0 4px #cde1f8;
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
/* Footer mellemrum i siderne */
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.m-0 {
  color: #4e4e4e;
}
.my-4{
  color: #4E85AC;
}
@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}
/* Forside skrift content */ 
.display-table {
  width: 100%;
  height: 100%;
  display: table;
}
/* Forside skrift */ 
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
/*--/ Title A /--*/
.title-box {
  margin-bottom: 4rem;
}
.title-a {
  font-size: 3rem;
  text-transform: uppercase;
  padding-top: 2rem;
  text-transform: uppercase;
  font-family: "roboto", sans-serif;
  font-weight: bold 700;
}
.underrubrik-a {
  color: #4e4e4e;
  font-family: "roboto", sans-serif;
  font-weight: bold 500;
}
.subtitle-a {
  color: #4e4e4e;
  font-family: "roboto", sans-serif;
  font-weight: bold 500;
}
.line-mf {
  width: 40px;
  height: 5px;
  background-color: #4E85AC;
  margin: 0 auto;
}
/*------/ Ico Circle /------*/
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #4E85AC;
  display: block;
}
/*------/ Back to top button /------*/
.back-to-top {
  position: fixed;
  display: none;
  background: #4E85AC;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
  border: 1px solid #f5f9fd;
}
.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}
/*------/ Button /------*/
.button {
  display: inline-block;
  padding: .3rem .6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: .3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}
/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/
@media (max-width: 480px) {
  .navbar-brand img {
    width: 70px;
    height: auto;
  }
}
.navbar {
  padding: 0;
}
.nav-item, .navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}
@media (min-width: 768px) {
  .nav-item, .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
  }
}
.nav-link, .navbar-b.navbar-reduce .nav-link {
  color: black;
  font-weight: bold 900;
}
.nav-link:before, .navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}
@media (min-width: 768px) {
  .nav-link:before, .navbar-b.navbar-reduce .nav-link:before {
    margin-left: 18px;
  }
}
.navbar-b {
  background-color: #fff;
  box-shadow: rgba(78, 133, 172, 0.2) 0px 1px 20px; 
  text-transform: uppercase;
  font-family: "roboto", sans-serif;
  font-weight: bold 700;
}
.nav-link:hover:before, .navbar-b.navbar-reduce .nav-link:hover:before {
  width: 40%;
}
.active > .nav-link:before,
.nav-link.show:before,
.nav-link.active:before, .navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 40px;
}
.show > .nav-link:before,
.active2 > .nav-link:before,
.nav-link.show:before,
.nav-link.active2:before, .navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active2 > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active2:before  {
  width: 25px;
}
.nav-link:before {
  background-color: #4E85AC;
}
.nav-link:hover {
  color: #4E85AC;
}
.active, .active2 {
  color: #4E85AC;
}
.navbar-brand img{
  max-width: 90px;
  height: auto;
}
.navbar-brand {
  padding-left: -5px;
}
.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}
.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}
.navbar-b .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}
/*--/ Hamburger Navbar /--*/
.navbar-toggler {
  position: relative;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}
/* Burger menu farve */ 
.navbar-toggler span {
  display: block;
  background-color: #4E85AC;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform .35s ease-in-out;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}
/* Navbar i mobil version, redigering alle 4 koder hænger sammen */
.navbar-b.navbar-reduce .show > .nav-link, .navbar-b.navbar-reduce .active > .nav-link, .navbar-b.navbar-reduce .nav-link.show, .navbar-b.navbar-reduce .nav-link.active {
  color: #4E85AC;
}
.navbar-b.navbar-reduce .show > .nav-link, .navbar-b.navbar-reduce .active > .nav-link, .navbar-b.navbar-reduce .nav-link.show, .navbar-b.navbar-reduce {
  padding-left: 20px;
}
.navbar-b.navbar-reduce { 
  padding-bottom: 15px;
}
.navbar-b.navbar-trans .nav-link:hover:before, .navbar-b.navbar-reduce .nav-link:hover:before {
  width: 35px;
}
a.nav-link.js-scroll.active {
  color: #4E85AC;
}
a.nav-link.js-scroll.active2 {
  color: #4E85AC;
}
.nav-link, .navbar-b.navbar-reduce .nav-link:hover{
  color: #4E85AC;
}
/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}
.intro .forside-content {
  text-align: center;
  position: absolute;
}
.intro .skygge-billede {
  background-color: rgba(78, 133, 172, 0.3); 
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}
.intro .intro-titel {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "roboto", sans-serif;
  font-weight: bold 700;
  line-height: 16px;
  
}
@media (min-width: 768px) {
  .intro .intro-titel {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
    font-weight: bold 700;
    line-height: 16px;
    text-align: left;
  }
}
@media (max-width: 450px) {
  .intro .intro-titel {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
    font-weight: bold 700;
    line-height: 16px;
    margin-top: 80px;
  }
}
@media (max-width: 450px) {
  .intro .intro-undertekst {
    font-size: 5px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
  }
}
.intro .intro-undertekst {
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "roboto", sans-serif;
}
@media (min-width: 768px) {
  .intro .intro-undertekst {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "roboto", sans-serif;
    text-align: left;
  }
}
.intro .text-slider-items {
  display: none;
}
.intro-single {
  height: 350px;
}
.intro-single .forside-content {
  margin-top: 30px;
}
.intro-single .intro-titel {
  text-transform: uppercase;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .intro-single .intro-titel {
    font-size: 3.5rem;
  }
}
.intro-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}
.intro-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}
.intro-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}
.intro-single .breadcrumb a {
  color: #fff;
}
/*--------------------------------------------------------------
# KOMPETENCER 
--------------------------------------------------------------*/
.kompetencer {
  padding-bottom: 5rem;
}
.kompetence-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 11px rgba(33,33,33,.3);
}
.kompetence-box .kompetence-icon {
  margin-bottom: 1rem;
  color: #000000;
}
.kompetence-box .ico-circle {
  transition: all 500ms ease;
  font-size: 4rem;
}
.kompetence-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: .4rem 0;
}
.kompetence-box .s-description {
  color: #4e4e4e;
}
/*--------------------------------------------------------------
# Portfolio layout start  
--------------------------------------------------------------*/
.portfolio-section {
  padding: 6rem 0;
  padding-bottom: 5rem;
}
.portfolio-ting {
  box-shadow: 0 0 11px rgba(33,33,33,.3);
}
.portfolio-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.portfolio-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "roboto";
  margin-bottom: 4rem;
} 
#portfolio .portfolio-ting {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-ting .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-ting .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(78, 133, 172, 0.7); 
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-ting .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-ting .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-ting .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-ting .portfolio-caption .portfolio-caption-heading {
  font-size: 1.2rem;
  font-family: "roboto";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-ting .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "roboto";
}
/*--------------------------------------------------------------
# Portfolio layout slut  
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Portfolio modal start  
--------------------------------------------------------------*/
.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 1rem;
  font-family: "roboto";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
  font-family: "roboto", sans-serif;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}
.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}
.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  flex-shrink: 0;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}
.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}
.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100vw;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
.modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
.rapport-links {
  text-decoration: underline;
  color: #4E85AC;
}
a:hover {
  color: #4E85AC;
}
/*--------------------------------------------------------------
# Portfolio modal slut 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# OM START
--------------------------------------------------------------*/
#about {
  padding: 160px 40px;
}
#about .about-content {
  padding-top: 40px;
}
#about .about-content h2 {
  color: black;
  font-family: "roboto", sans-serif;
  font-weight: bold 700;
}
#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}
#about .about-img img {
  width: 100%;
  border: 1px solid #fff;
  transition: .5s;
}
#about .about-img img:hover {
  width: 100%;
  transform: scale(1.03);
}
#about .about-img::before {
  position: absolute;
  left: -20px;
  top: -20px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: rgba(78, 133, 172, 0.7);
  transition: .5s;
}
#about .about-img::after {
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}
.download {
  background-color: #4E85AC;
  border: none;
  color: white;
  padding: 6px 13px;
  cursor: pointer;
  font-size: 16px;
}
/* Darker background on mouse-over */
.download:hover {
  box-shadow: 300px 0 0 0 rgba(0,0,0,0.1) inset;
}
.cvbutton {
  color: #fff;
  text-decoration: none;
}
.cvbutton:hover {
  text-decoration: none;
  color: #fff;
}
/*--------------------------------------------------------------
# OM slut 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Kontakt start  
--------------------------------------------------------------*/
.contact-section {
  padding-top: 6rem;
  padding-bottom: 15rem;
}
.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "roboto";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #4E85AC;
  border-width: 0.25rem;
  width: 3rem;
}
.card {
  box-shadow: 0 0 11px rgba(33,33,33,.3);
}
.so-me a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: #4E85AC;
  color: #f5f9fd;
  margin: 0 6px;
  border-radius: 50%; 
  justify-content: center;
  align-items: center; 
  transition: 0.4s;
  text-decoration: none;
  font-size: 22px;
  margin-left: 20px;
}
.kon-tekst {
  font-family: "roboto";
  font-size: 15px; 
}
/* Hover effekten når man holder musen henover */ 
.so-me a:hover{
  background: #4E85AC; 
}
/* Ikoner inde i cirkel, hvor hurtigt de skal rotate når man hover */ 
.so-me a i{
  transition: 0.4s all; 
}
/* Hvordan ikonerne rotatere */
.so-me a:hover > i{
  transform: scale(1.6) rotate(25deg);
}
/* Ikoner inde i cirkel, hvor hurtigt de skal rotate når man hover */ 
.so-me a i{
  transition: 0.4s all; 
}
/* Hvordan ikonerne rotatere */
.so-me a:hover > i{
  transform: scale(1.6) rotate(25deg);
}
.so-me {
  padding-top: 0.5rem;
  padding-bottom: 15px;
}
#contact-icon {
  color: #4E85AC;
}
/*--------------------------------------------------------------
# Kontakt slut 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: #fff;
  padding: 2px 0;
  background: #4E85AC;
}
footer .credits {
  margin-bottom: 0;
}
footer .credits a {
  color: #fff;
}
.footer-bottom-text {
  font-size: 12px;
  color: #f5f9fd;
  padding-top: 23px;
}
/*--------------------------------------------------------------
# Footer slut 
--------------------------------------------------------------*/ 

.blåstregport {
  margin-bottom: 30px;
}